{% extends 'index/base.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--&lt;!&ndash;    <title>About</title>&ndash;&gt;-->
<!--    <title>{{ title }}</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;    <h1>About</h1>&ndash;&gt;-->
<!--    <h1>{{ title }}</h1>-->
<!--    <ul>-->
<!--        {% for item in menu %}-->
<!--        <li>{{ item }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->




{% block content %}
    <h1>{{ title }}</h1>
    <p>Content of about page</p>
{% endblock %}