{% extends 'index/base.html' %}

{% block content %}
<div class="content">
    <h1>{{ title }}</h1>
    <form action="{% url 'addpost' %}" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form__row">
            <div class="form__input">
                <label class="form__label" for="field.id_for_label">{{ field.label }}:</label>
                {{ field }}
            </div>
            <div class="form__error">{{ field.errors }}</div>
        </div>
        {% endfor %}
        <button type="submit" class="form__button">Add</button>
    </form>
</div>
{% endblock %}