{% load static %}
{% load index_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'index/css/style.css' %}" rel="stylesheet">
</head>
<body>
    {% block mainmenu %}
        {% show_header %}
    {% endblock %}
    {% block main %}
    <main class="main">
        {% block sidebar %}
        <ul class="sidebar">
            {% if spec_selected == 0 %}
            <li class="selected">Specializations</li>
            {% else %}
            <li><a href="{% url 'home' %}">Specializations</a></li>
            {% endif %}
            {% show_specializations spec_selected=spec_selected %}
<!--                <li class="sidebar__title">Specializations</li>-->
<!--                <li class="sidebar__item"><a>Developer</a></li>-->
<!--                <li class="sidebar__item"><a>Khalif</a></li>-->
        </ul>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>
    {% endblock %}
    {% block footermenu %}
        {% show_footer %}
    {% endblock %}
</body>
</html>