{% extends 'index/base.html' %}

{% block content %}
    <div class="content">
        <h1 class="game__title">{{ title }}</h1>
        <ul class="posts__list">
            {% for post in posts %}
            <li class="posts__item">
                <div class="posts__meta">
                    <div>Specialization: {{ post.specialization.name }}</div>
                    <div>Date: {{ post.time_update|date:"D d M Y" }}</div>
                </div>
                <div class="posts__wrap">
                    <div class="posts__img"><img src="{{ post.photo.url }}"></div>
                    <div class="posts__desc">
                        <h2 class="posts__caption">{{ post.title }}</h2>
                        <div class="posts__txt">
                            {% autoescape off %}
                            {{ post.content | linebreaks | truncatewords:50 }}
                            {% endautoescape %}
                        </div>
<!--                <a href="{% url 'post' post.pk %}" class="posts__link">More information...</a>-->
                    <a href="{{ post.get_absolute_url }}" class="posts__link">More information...</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--&lt;!&ndash;    <title>Main page</title>&ndash;&gt;-->
<!--    <title>{{ title }}</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;    <h1>Main page</h1>&ndash;&gt;-->
<!--    <h1>{{ title }}</h1>-->
<!--    <ul>-->
<!--        {% for item in menu %}-->
<!--        <li>{{ item }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->
